# Tailscale
TS_AUTHKEY=tskey-
TS_HOSTNAME=openclaw

# API Keys
OPENCLAW_STATE_DIR=/openclaw/.openclaw
ANTHROPIC_API_KEY=
OPENAI_API_KEY=
GEMINI_API_KEY=
COPILOT_GITHUB_TOKEN=
OPENROUTER_API_KEY=
XAI_API_KEY=
BRAVE_API_KEY=
